
<h1 id="title-quotes">QUOTES</h1>
<a href='/'> back to homepage</a>

<h1>{{ heading }}</h1>

<main>
  {{#each quote_table}}
		<a href="#" title="Post 1">
			<article>
				<p {{id}}>{{caption}}</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-1">
					<figcaption>{{author}}</figcaption>
          <p>{{category}}</p>
          <p>popularity:{{popularity}}</p>
          <textarea>Add Quote:</textarea>
				</figure>
			</article>
		</a>
    {{/each}}
	</main>
